*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Lato", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #1c1e21;
}

::selection {
  background: #97a3f0; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #97a3f0; /* Gecko Browsers */
}
